.button {
    display: block;
    float: left;
    position: relative;
    height: 25px;
    width: 80px;
    margin: 0 10px 18px 0;

    text-decoration: none;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 25px;
    text-align: center;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.button:before,
.button:after {
    content: '';
    position: absolute;
    left: -1px;
    height: 25px;
    width: 80px;
    bottom: -1px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.button:before {
    height: 23px;
    bottom: -4px;
    border-top: 0;

    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;

    -webkit-box-shadow: 0 1px 1px 0px #bfbfbf;
    -moz-box-shadow: 0 1px 1px 0px #bfbfbf;
    box-shadow: 0 1px 1px 0px #bfbfbf;
}

.button,
.button:hover,
.button:visited {
    color: #996633;
    border-bottom: 4px solid #b98a37;
    text-shadow: 0px 1px 0px #fedd9b;

    background: #feda71;
    background: -webkit-gradient(linear, left top, left bottom, from(#feda71), to(#febe4d));
    background: -moz-linear-gradient(top,  #feda71,  #febe4d);

    box-shadow: inset 1px 1px 0 #fee9aa;
}

.button:before,
.button:after {
    border: 1px solid #eab551;
    border-bottom: 1px solid #9f7630;
}

.button:hover {
    background: #febe4d;
    background: -webkit-gradient(linear, left top, left bottom, from(#febe4d), to(#feda71));
    background: -moz-linear-gradient(top,  #febe4d,  #feda71);
}
